@font-face {
    font-family: norse-bold;
    src: url(../assets/Norse-Bold.otf);
  }

:root {
    --logo-section-width: 33vw;
    --error-color: #ef3232;
    font-family: 'Roboto', sans-serif;
}

/* SECTIONS */

.logo-section,
.form-section {
    position: absolute;
    height: 100vh;
}

.logo-section {
    width: var(--logo-section-width);
    background-image: url("../assets/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-color: rgb(18, 126, 83);
}

.form-section {
    left: var(--logo-section-width);
    width: calc(100vw - var(--logo-section-width));
    background-color: #f4f4f4;
}

.logo-container,
.form-section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

/* LOGO SECTION */

.logo-container {
    height: 120px;
    margin-top: 24vh;
    background: #00000080;
}

.logo-container img {
    height: 80%;
}

.logo-container h1,
.img-reference,
.img-reference a, 
.img-reference a:visited {
    color: #FFFFFF;
}

.logo-container h1 {
    margin-left: 8px;
    font-family: norse-bold, sans-serif;
    font-size: 68px;
}

.img-reference {
    position: absolute;
    font-size: 14px;
    bottom: 16px;
    text-align: center;
    width: 100%;
}

/* FORM SECTION */

.description,
form h2 {
    font-size: 18px;
    font-weight: 700;
}

.description {
    width: 80%;
    max-width: 600px;
    line-height: 24px;
    padding: 0 60px;
}

.description em {
    font-style: italic;
}

form {
    margin-top: 40px;
}

fieldset {
    padding: 24px 60px;
    background-color: #FFFFFF;
    box-shadow: 0 8px 12px #00000020;
}

.inputs-container {
    display: flex;
    flex-flow: row wrap;
    margin-top: 16px;
}

.inputs-container > div {
    width: 49%;
}

.inputs-container > div > * {
    display: block;
}

label {
    font-size: 12px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 4px;
    letter-spacing: 2px;
}

input {
    width: 80%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    outline: none;
}

input:focus {
    border: 1px solid #4b70e0;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

input:valid {
    border: 1px solid #22dc6f;
    background-color: #8affbb;
}

input.error {
    border: 1px solid var(--error-color);
    background-color: #fbc9c9;
}

.error-msg {
    font-size: 12px;
    font-weight: 700;
    margin-top: 4px;
    color: var(--error-color);
}

.btn-submit {
    margin: 40px 60px;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 6px;
    background-color: #016c48;
    color: #FFFFFF;
    font-weight: 700;
}

.login {
    margin-left: 60px;
    font-weight: 500;
}

.login a,
.login a:visited {
    color: #016c48;
    text-decoration: none;
}